.Register-page {
  display: flex;
  width: 100vw;
}

#Register-page-left {
  width: 50%;
}

#Register-page-left div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 5rem;
}

#Register-page-left div input {
  width: 400px;
  margin: 1rem;
  padding: 1rem;
}

#Register-page-left div button {
  width: 150px;
  color: white;
  background: rgba(237, 83, 83, 1);
  padding: 0.5rem;
  border: none;
}
#Register-page-right {
  width: 50%;
}

#Register-page-right h3 {
  position: absolute;
  color: white;
  top: 5rem;
  right: 20rem;
  font-size: 2rem;
}

#Register-page-right img {
  /* width: 50vw;
  height: 100vh; */
  width: 100%;
}
